.mui-text-field-container-paige {
  margin: 20px;

  .mui-text-field-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mui-text-field-standard-container {
    display: flex;
    gap: 10px;


  }
}

.mui-text-field-custom1 {
  margin: 20px !important;
  padding: 20px;
}