.container-tooltip-page {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.container-tooltip-1 {

    a[data-tooltip] {
        position: relative;
    }

    a[data-tooltip]::before,
    a[data-tooltip]::after {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }

    a[data-tooltip]:hover::before,
    a[data-tooltip]:hover::after {
        opacity: 1;
    }

    a[data-tooltip]::after {
        border-right: 6px solid transparent;
        border-top: 6px solid #1E2126;
        border-left: 6px solid transparent;
        height: 0;
        width: 0;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
    }

    a[data-tooltip]::before {
        content: attr(data-tooltip);
        background: #1E2126;
        border-radius: 6px;
        color: #fff;
        font-size: 13px;
        padding: .5rem 1rem;
        top: calc(-100% - 18px);
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
    }
}

.container-tooltip-2 {
    gap: 15px;
    // [data-tooltip] {
    //     position: relative;
    // }

    // [data-tooltip]::before,
    // [data-tooltip]::after {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     pointer-events: none;
    //     opacity: 0;
    //     transition: opacity .2s ease-in-out;
    // }

    // [data-tooltip]:hover::before,
    // [data-tooltip]:hover::after {
    //     opacity: 1;
    // }

    // [data-tooltip]::after {
    //     border-right: 6px solid transparent;
    //     border-top: 6px solid #1E2126;
    //     border-left: 6px solid transparent;
    //     height: 0;
    //     width: 0;
    //     top: -8px;
    //     left: 50%;
    //     transform: translateX(-50%);
    // }

    // [data-tooltip]::before {
    //     content: attr(data-tooltip);
    //     background: #1E2126;
    //     border-radius: 6px;
    //     color: #fff;
    //     font-size: 13px;
    //     padding: .5rem 1rem;
    //     top: calc(-100% - 18px);
    //     white-space: nowrap;
    //     left: 50%;
    //     transform: translateX(-50%);
    // }
}

.container-tooltip-3 {
    .tooltip-custom {
        color: red;
        background-color: yellow;
        padding: 10px;
        opacity: 0.8;
    }
}

//Toast
.toast-custom-all {
    color: red;
    background-color: yellow;
}



//Button
.container-toast-button {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;
}

.button-2 {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    transition: transform 0.5s;
}

.button-2:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

.button-2:active {
    transform: scale(0.95);
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}