.container-forms-page {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.container {
    background-color: #e9f7ff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    color: #1E8ACC;
    font-size: 13px;

    label p {
        margin: 0;
        line-height: 1.5em;
        cursor: pointer;
    }

    .form {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .custom-title {
        color: #082333;
        font-size: 20px;
        margin-bottom: 4px;
    }

    .toggle-switch {
        width: 2.75rem;
        height: 1.5rem;
        appearance: none;
        position: relative;
        background-color: #A8DEFF;
        border-radius: 100px;
        cursor: pointer;
        transition: background-color .2s ease-in-out;
    }

    .toggle-switch::before {
        content: '';
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        transform: translate3d(2px, 2px, 0);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
        transition: transform .2s ease-in-out;
    }

    .toggle-switch:checked {
        background-color: #26ADFF;
    }

    .toggle-switch:hover:not(:checked) {
        background-color: #7dceff;
    }

    .toggle-switch:checked::before {
        transform: translate3d(calc(1.25rem + 2px), 2px, 0);
    }

    // Text Field Custom 1




    mark {
        background: var(--color-accent);
        color: var(--color-text);
        font-weight: bold;
        padding: 0 0.2em;
    }





}

.card {
    //lokal data
    --color-light: white;
    --color-dark: #1013d3;
    --color-signal: #fab700;
    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);

    --size-bezel: .5rem;
    --size-radius: 4px;

    line-height: 1.4;

    font-family: 'Inter', sans-serif;
    font-size: calc(.6rem + .4vw);
    color: var(--color-text);
    background: var(--color-background);
    font-weight: 300;
    padding: 0 calc(var(--size-bezel) * 3);

    //card scss
    background: var(--color-background);
    // padding: calc(4 * var(--size-bezel));
    // margin-top: calc(4 * var(--size-bezel));
    border-radius: var(--size-radius);
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
    padding: 10px;
    margin-top: 10px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;

    .input {
        position: relative;


        &__label {
            position: absolute;
            left: 0;
            top: 0;
            padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
            margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
            background: pink;
            white-space: nowrap;
            transform: translate(0, 0);
            transform-origin: 0 0;
            background: var(--color-background);
            transition: transform 120ms ease-in;
            font-weight: bold;
            line-height: 1.2;

        }

        &__field {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border: 3px solid currentColor;
            padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
            color: currentColor;
            background: transparent;
            border-radius: var(--size-radius);


            &:focus,
            &:not(:placeholder-shown) {
                &+.input__label {
                    transform: translate(.25rem, -65%) scale(.8);
                    color: var(--color-accent);
                }
            }
        }


    }
}

//SimpleInput
.custom-input-container {
    width: 600px;
}

//KrzyzowkaWorking
.krzyzowka-working-container {

    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2dfdb;
    border-radius: 5px;
}


.mui-text-field-custom1 {
    margin: 20px !important;
    padding: 20px;
}