.section-icons-page {


    .container-icons-page-4 {
        .icon-background {
            width: 64px;
            height: 64px;
            // background-image: url("../../../public/icons.svg#icon-book");
            background-image: url("../../images/flag-us-svgrepo-com.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .icon-change-text:hover {
        cursor: url('../../images/videoSmal.png') 64 64, auto;
    }

    .icon-change-figure {
        padding: 40px;
        background-color: yellow;
        // cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png'), auto;
    }

    .icon-change-figure:hover {
        cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png') 8 8, auto;
    }

    .button-icon-change {
        padding: 20px;
        cursor: url('../../images/video.svg') 64 64, auto;
    }

}