.section-icons-page{


    .container-icons-page-4{
        .icon-background{
            width: 64px;
                height: 64px;
            // background-image: url("../../../public/icons.svg#icon-book");
            background-image: url("../../images/icons2.svg");
                background-size: contain;
                background-repeat: no-repeat;
        }
    }

}