.metodyObiektowPage-mainContainer {
  white-space: pre-line;

  [data-tooltip] {
    position: relative;
  }

  [data-tooltip]::before,
  [data-tooltip]::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  [data-tooltip]:hover::before,
  [data-tooltip]:hover::after {
    opacity: 1;
  }

  [data-tooltip]::after {
    border-right: 6px solid transparent;
    border-top: 6px solid #1E2126;
    border-left: 6px solid transparent;
    height: 0;
    width: 0;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
  }

  [data-tooltip]::before {
    content: attr(data-tooltip);
    background: #1E2126;
    border-radius: 6px;
    color: #fff;
    font-size: 13px;
    padding: .5rem 1rem;
    top: calc(-100% - 18px);
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
  }


  .hr {
    border: none;
    border-top: 3px double #ffffff;
    color: black;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 15px auto;
  }

  .hr::after {
    background: var(--main-others-background);
    padding: 0 4px;
    position: relative;
    top: -13px;
    content: attr(data-label);
  }

  .list-row {
    display: flex;
  }

  .list-row li {
    margin-right: 5px;
    color: white;
  }

  .custom-input-container {
    --color-light: var(--main-others-background);
    width: 450px;
  }

  ol {
    list-style: decimal inside none;
  }

  ul {
    list-style: square inside none;
  }

  pre {
    padding-left: 30px;
    font-size: 14px;
    color: darkblue;
  }
}



.chart-main-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
  border-radius: 30px;
  box-shadow: 0 10px 60px 0 rgba(170, 178, 197, 0.2);
  padding-top: 50px;
  padding-bottom: 44px;
  margin: 40px auto 80px;
}

.chart-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
  /* Możesz ustawić wysokość wykresu */
  margin: 0 138px;

  background: repeating-linear-gradient(to top,
      rgba(0, 0, 0, 0.1) 0px,
      rgba(0, 0, 0, 0.1) 1px,
      /* linia */
      transparent 1px,
      transparent 40px
      /* odstęp między liniami */
    );
}

.bar {
  position: relative;
  width: 38px;
  background-color: #4caf50;
  /* Kolor słupków */
  margin: 0 10px;
  display: flex;

  justify-content: space-around;
  align-items: flex-end;
  text-align: center;
  transform: rotate(0deg);
  transform-origin: left bottom;
}

.amount {
  position: absolute;
  bottom: 100%;
  /* Umieszczenie wartości nad słupkiem */
  white-space: nowrap;
  padding-bottom: 5px;
}

.label {
  position: absolute;
  bottom: -25px;
  /* Umieszczenie nazwy pod słupkiem */

  text-align: center;
}