.FormsExamplePageId-container {

  .backlink-page-container {
    display: flex;
    flex-direction: column;
  }

  .FormsExamplePageId-contactForm-container {
    width: 500px;
    margin: 50px auto;
  }
}