.container-combobox-page {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.container2,
.container {
    margin-bottom: 40px;
}

.container {
    user-select: none;
    outline: none;


}

.flag-usa {
    color: red;
}

.react-select-saab {
    display: inline-flex;
    cursor: pointer;
    color: rgb(252, 1, 1);
}

.react-select-saab:hover {

    background-color: blueviolet;
    color: blueviolet;
}

.react-select-text-saab:hover {
    background-color: pink;
}