.container-checkbox-page {
    display: flex;
    flex-flow: column nowrap;
    gap:15px;
}

.container {
    background-color: #e9f7ff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    color: #1E8ACC;
    font-size: 13px;

    label p {
        margin: 0;
        line-height: 1.5em;
        cursor: pointer;
    }

    .form {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .custom-title {
        color: #082333;
        font-size: 20px;
        margin-bottom: 4px;
    }

    .toggle-switch {
        width: 2.75rem;
        height: 1.5rem;
        appearance: none;
        position: relative;
        background-color: #A8DEFF;
        border-radius: 100px;
        cursor: pointer;
        transition: background-color .2s ease-in-out;
    }

    .toggle-switch::before {
        content: '';
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        transform: translate3d(2px, 2px, 0);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
        transition: transform .2s ease-in-out;
    }

    .toggle-switch:checked {
        background-color: #26ADFF;
    }

    .toggle-switch:hover:not(:checked) {
        background-color: #7dceff;
    }

    .toggle-switch:checked::before {
        transform: translate3d(calc(1.25rem + 2px), 2px, 0);
    }

}